<article class="article-item" > 

	<div class="image-wrap">
		<!-- <img src="{{pelicula.image}}" alt="{{pelicula.title}}"> -->
		<img src="../../../assets/images/4 paisaje macedonia.jpg" alt="{{pelicula.title}}">
	</div>

	<h2>{{pelicula.title}}</h2>
	<span class="date">
		Hace 5 minutos
	</span>

	<!-- Directivas de estilos ngStyle ngClass -->
	
	<!-- <span class="year" [style.background]="pelicula.year > 2015 ? 'green' : 'red'"> -->

	<!-- <span class="year" [ngClass]="{
								'year-green': pelicula.year > 2015
								'year-red': pelicula.year < 2015
							}">
	 -->

	 <!--  -->

	<span 
		[class.year-green]="pelicula.year > 2015"
		[class.year-red]="pelicula.year < 2015"
	>
		{{pelicula.year}}
	</span>

	<a href="article.html">Leer mas</a>
	
	<button (click)="seleccionar($event, pelicula)">Seleccionar como favorita</button>

	<div class="clearfix"></div>

</article>
