body{
	text-align: center;
	margin: 0px;
	padding: 0px;

	/*FUENTES*/
	font-family: 'Segoe UI';
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-moz-osx-font-smoothing: antialiased;
}

#header{
	opacity: 7.5;
	height: 120px;
	width: 100%;
	background: white;
	border-bottom: 1px solid #ccc;
	border-top: 5px solid #f13e3e;
}

.center{
	width: 75%;
	margin: 0px auto;
}

.clearfix{
	clear: both;
	float: none;
}

#logo{
	width: 30%;
	font-size: 30px;
	float: left;
	margin-top: 35px;

}

#logo img{
	display: block;
	float: left;
	height: 60px;
	margin-top: -9px;
	margin-right: 10px;
	animation: latir infinite 1s linear;
}

@keyframes latir{
	100%{
		transform: scale(1, 1);
	}55%{
		transform: scale(.98, .98);
	}45%{
		transform: scale(1.02, 1.02);
	}0%{
		transform: scale(1, 1);
	}
}

#brand{
	display: block;
	margin: 0;
	float: left;
}

#menu{
	width: 70%;
	float: right;
	font-size: 18px;
}

#menu ul{
	line-height: 85px;
	width: 60%;
	float: right;
}

#menu ul li{
	display: inline-block;
	list-style: none;
	height: 46px;
	margin-left: 10px;
	margin-right: 10px;
}

#menu a{
	text-decoration: none;
	color: #444;
	transition: 300ms all;
}

#menu a:hover,
.active{
	color: #f13e3e !important;
}

#slider{
	width: 100%;
	height: 350px;
	color: white;
	text-shadow: 0px 0px 5px #444;

	/*DEGRADADO CSS PURO*/
	background: rgba(241,111,92,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(241,111,92,1) 0%, rgba(231,56,39,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(241,111,92,1)), color-stop(100%, rgba(231,56,39,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(241,111,92,1) 0%, rgba(231,56,39,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(241,111,92,1) 0%, rgba(231,56,39,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(241,111,92,1) 0%, rgba(231,56,39,1) 100%);
	background: radial-gradient(ellipse at center, rgba(241,111,92,1) 0%, rgba(231,56,39,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f16f5c', endColorstr='#e73827', GradientType=1 );
}

#slider h1{
	margin-top: .2px;
	padding: 0px;
	padding-top: 130px;
	text-align: center;
}

.btn-white{
	display: block;
	color: rgb(88, 88, 88);
	background: white;
	padding: 10px;
	width: 95px;
	height: 35px;
	margin: 0px auto;
	font-size: 18px;
	text-transform: uppercase;
	text-shadow: none;
	text-decoration: none;
	line-height: 35px;
	box-shadow: 0px 0px 5px rgb(88, 88, 88);
	margin-top: 40px;
	border-radius: 4px;
	transition: 300ms all;
}

.btn-white:hover{
	background: #444;
	color: white;
}

#slider.slider-small{
	height: 150px;
}

#slider.slider-small h1{
	margin-top: 0.2px;
	padding: 0px;
	padding-top: 50px;
}

#content{
	width: 70%;
	float: left;
	min-height: 650px;
	margin-right: 20px;
}

#sidebar{
	width: 25%;
	float: left;
}

.sidebar-item{
	background: #f7f7f7;
	padding: 20px;
	margin-top: 30px;
}

.sidebar-item h3{
	text-transform: uppercase;
	font-size: 17px;
	margin: 0px;
	padding-bottom: 10px;
	border-bottom: 3px solid #ccc;
}

.sidebar-item .btn{
	margin: 0px auto;
	margin-top:10px;
}

.btn{
	display: block;
	background: black;
	color: white;
	padding: 15px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
	max-width: 120px;
	transition: 300ms all;
	border: none;
	cursor: pointer;
	text-align: center;
}

.btn-success{
	background: rgb(23, 150, 19);
}

.btn-success:hover{
	background: black;
}

.btn-warning{
	background: rgb(238, 165, 6);
	color: white !important;
	text-decoration: none;
}

.btn-danger{
	background: rgb(201, 21, 21);
	color: white !important;
	text-decoration: none;
}

.btn-warning:hover, 
.btn-danger:hover{
	transition: all 100ms;
	opacity: 0.8;
}

.buttons{
	margin-top: 30px;
}

.mid-form{
	width: 50%;
	margin: 0 auto;
}

.mid-form label{
	display: block;
	float: left;
	text-align: left;
	margin-top:10px;
	margin-bottom: 5px;
	font-size: 17px;
}

input[type="text"],
input[type="file"],
textarea{
	width: 100%;
	height: 30px;
	border: 1px solid #ccc;
	padding: 3px;
	margin-bottom: 5px;
}

input[type="text"]:focus,
text-area:focus{
	box-shadow: 0px 0px 5px #ccc;
}

textarea{
	width: 100%;
	height: 150px;
	min-width: 100%;
	max-width: 100%;
	min-height: 150px;
	max-height: 300px;
}

.image-thumb img{
	width: 150px;
}

.btn.up_btn.afu-attach-pin{
	display: block !important;
	width: 100% !important;
	max-width: 90% !important;
	margin-top: 15px !important;
}

.radibuttons{
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
}

#footer{
	background: #f7f7f7;
	width: 100%;
	height: 70px;
	line-height: 70px;
	color: #444;
}

#footer p{
	margin: 0;
	padding: 0;
}

.article-item{
	width: 100%;
	border-bottom: 1px solid #eee;
	padding-bottom: 20px;
	padding-top: 20px;
	text-align: left;
}

.article-item .image-wrap{
	width: 130px;
	height: 130px;
	overflow: hidden;
	float: left;
	margin-right: 15px;
	border: 1px solid #ccc;
}

.article-item .image-wrap img{
	height: 100%;
	text-align: center;
}

.article-item h2{
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	margin-bottom: 7px;
}

.article-item .date{
	display: block;
	width: 100%;
	color: rgb(122, 122, 122);
}

.article-item a{
	display: block;
	color: #444;
	text-decoration: none;
	margin-top: 10px;
}

.article-item a:hover{
	text-decoration: underline;
}

.subheader{
	font-size: 38px;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}

.article-detail .image-wrap{
	float: none;
	width: 100%;
	height: 300px;
}

.article-detail .image-wrap img{
	width: 100%;
	height: auto;
}

.article-detail .subheader{
	margin-top: 15px;
	margin-bottom: 0px;
	border: none;
}

.year-red{
	display: block;
	background: red;
	color: white;
	padding: 5px;
	width: 121px;
	text-align: center;
}

.year-green{
	display: block;
	background: green;
	color: white;
	padding: 5px;
	width: 121px;
	text-align: center;
}

/*RESPONSIVE*/

@media (max-width: 1488px){
	.center{
		width: 85%;
	}
}

@media(max-width: 1335px){
	.center{
		width: 95%;
	}
	
	#menu ul{
		width: auto;
	}
}

@media (max-width: 881px){
	#logo{
		width: 265px;
	}

	#menu{
		width: auto;
	}
}

@media (max-width: 813px){
	#logo{
		float: none;
		/*width: 240px;*/
		margin: 0px auto;
		margin-top: 20px;
	}

	#menu,
	#menu ul{
		clear: both;
		float: none;
		width: 100%;
		margin: 0;
		padding: 0;
		line-height: 43px;
	}

	#content{
		float: none;
		width: 100%;
	}

	#sidebar{
		float: none;
		width: 60%;
		margin: 0 auto;
		margin-bottom: 50px;
	}

	#slider h1{
		padding-top: 115px;
		font-size: 25px;
	}

	.mid-form{
		width: 70%;
	}
}

@media (max-width: 497px){
	#header{
		min-height: 130px;
		overflow: hidden;
	}

	#menu,
	#menu ul{
		line-height: 50px;
	}

	#menu ul li{
		margin-left: 7px;
		margin-right: 7px;
	}

	#slider{
		height: 180px;
	}

	#slider h1{
		font-size: 19px;
		padding-top: 30px;
	}

	#slider btn-white{
		margin-top: 20px;
	}

	#slider.slider-small{
		height: 100px;
	}

	#slider.slider-small h1{
		padding-top: 35px;
	}
}