
<div class="center">
  	<section id="content">

		<h1 class="subheader">{{page_title}}</h1>
		<form class="mid-form" #articleForm="ngForm" (ngSubmit)="onSubmit()">
 			<div class="form-group">
 				<label for="title">Nombre</label>
 				<input type="text" name="title" #title="ngModel" [(ngModel)]="article.title" required/>

 				<small *ngIf="!title.valid && title.touched">
 					El titulo no es valido!
 				</small>
 			</div>

 			<div class="form-group">
 				<label for="content">Contenido</label>
 				<textarea name="content" #content="ngModel" [(ngModel)]="article.content" required></textarea>

 				<small *ngIf="!content.valid && content.touched">
 					El contenido no es valido!
 				</small>
 			</div>
			
			<div class="form-group">
				<div *ngIf="isEdit" class="image-thumb">
					<img src="{{urlApi + 'get-image/' + article.image}}" alt="{{article.title}}" *ngIf="article.image">
					<img src="assets/images/default.jpg" alt="{{article.title}}" *ngIf="!article.image">
				</div>

	 			<angular-file-uploader
					[config]="afuConfig"
					(ApiResponse)="imageUpload($event)"
				></angular-file-uploader>
			</div>

 			<input type="submit" value="Guardar" class="btn btn-success" [disabled]="articleForm.invalid">
 		</form>
  	</section>
 	<app-sidebar></app-sidebar>
 	<div class="clearfix"></div>
</div>